@font-face {
    font-style: normal;
    font-weight: normal;
    src: url('./icomoon.eot');
    src:
        url('./icomoon.eot#iefix') format('embedded-opentype'),
        url('./icomoon.ttf') format('truetype'),
        url('./icomoon.woff') format('woff'),
        url('./icomoon.svg#icomoon') format('svg');
    font-family: 'icomoon';
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-csharp:before {
    content: '\e901';
    color: #239120;
}
.icon-dot-net:before {
    content: '\e902';
    color: #5c2d91;
}
.icon-github:before {
    content: '\e903';
}
.icon-microsoft:before {
    content: '\e904';
    color: #666;
}
.icon-tailwindcss:before {
    content: '\e900';
    color: #38b2ac;
}
.icon-vk1:before {
    content: '\e907';
    color: #4680c2;
}
.icon-vue-dot-js:before {
    content: '\e908';
    color: #4fc08d;
}
.icon-book:before {
    content: '\e91f';
}
.icon-copy:before {
    content: '\e92c';
}
.icon-coin-yen:before {
    content: '\e93e';
}
.icon-display:before {
    content: '\e956';
}
.icon-laptop:before {
    content: '\e957';
}
.icon-spinner5:before {
    content: '\e97e';
}
.icon-menu:before {
    content: '\e9bd';
}
.icon-download3:before {
    content: '\e9c7';
}
.icon-earth:before {
    content: '\e9ca';
}
.icon-link:before {
    content: '\e9cb';
}
.icon-brightness-contrast:before {
    content: '\e9d6';
}
.icon-warning:before {
    content: '\ea07';
}
.icon-info:before {
    content: '\ea0c';
}
.icon-cross:before {
    content: '\ea0f';
}
.icon-checkmark:before {
    content: '\ea10';
}
.icon-checkmark2:before {
    content: '\ea11';
}
.icon-new-tab:before {
    content: '\ea7e';
}
.icon-embed2:before {
    content: '\ea80';
}
.icon-facebook2:before {
    content: '\ea91';
}
.icon-telegram:before {
    content: '\ea95';
}
.icon-twitter:before {
    content: '\ea96';
}
.icon-vk:before {
    content: '\ea98';
}
.icon-sina-weibo:before {
    content: '\ea9a';
}
.icon-tux:before {
    content: '\eabd';
}
.icon-finder:before {
    content: '\eabf';
}
.icon-windows8:before {
    content: '\eac2';
}
.icon-chrome:before {
    content: '\ead9';
}
.icon-firefox:before {
    content: '\eada';
}
.icon-IE:before {
    content: '\eadb';
}
.icon-edge:before {
    content: '\eadc';
}
.icon-safari:before {
    content: '\eadd';
}
.icon-libreoffice:before {
    content: '\eae3';
}
.icon-lightbulb:before {
    content: '\e905';
}
.icon-flag:before {
    content: '\e906';
}
.icon-wb_sunny:before {
    content: '\e90c';
}
.icon-done:before {
    content: '\e911';
}
.icon-done_all:before {
    content: '\e912';
}
.icon-bedtime:before {
    content: '\e919';
}
